.cell {
    position : relative;
    display : block;
}

.highlight, .obstacle, .decoration {
    position : absolute;
    height : 100%;
    width : 100%;
    top : 0;
    left : 0;
    z-index : 500;
    border : 1px solid rgba(68,206,262,0);
    border-radius:7px;
    box-sizing : border-box;
}

.obstacle {
    z-index : 2;
    pointer-events : none;
}

.decoration {
    z-index : 3;
    pointer-events : none;
}

.caracter {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;

    img {
        width: 100%;
        max-height: 32px;
    }
}

.accessible {
    background-color : rgba(169,52,211,0.5);
    border : 1px solid rgba(169,52,211,1);
}

.highlight:hover {
    background-color : rgba(74, 134, 232,0.5);
    border : 1px solid rgba(74, 134, 232, 1);
}
.red_obstacle:hover {
    background-color : rgba(252,65,55,0.5);
    border : 1px solid rgba(252,65,55,1);
}
.attackable:hover {
    background-color : rgba(72, 164, 56,0.5);
    border : 1px solid rgb(72, 164, 56);
}
.purple, .purple:hover {
    background-color : rgba(169,52,211,0.5);
    border : 1px solid rgba(169,52,211,1);
}
