.game {
    height: 100%;
    position: relative;
    margin: -12px;
    min-width: 100%;

    .map {
        overflow: scroll;
    }

    .game-actions {

    }

    .game-actions {

        .game-options {
            display: flex;
            align-items: center;
            justify-content: center;

            margin: 1rem 0;

            .btn-actions {
                border: 2px solid black !important;
                border-right: 4px solid black !important;
                border-bottom: 4px solid black !important;

                &:first-child {
                    margin-right: 1rem;
                }

                &:last-child {
                    margin: 0 !important;
                }

                &.v-btn--disabled {
                    border: 2px solid rgba(0, 0, 0, 0.26) !important;
                    border-right: 4px solid rgba(0, 0, 0, 0.26) !important;
                    border-bottom: 4px solid rgba(0, 0, 0, 0.26) !important;
                }
            }
        }
    }

    .v-overlay.game-overlay {
        z-index: 10 !important;

        img {
            max-width: 32px;
            max-height: 32px;
        }

        .btn-actions {
            border: 2px solid black !important;
            border-right: 4px solid black !important;
            border-bottom: 4px solid black !important;

            &:first-child {
                margin-right: 1rem;
            }

            &:last-child {
                margin: 0 !important;
            }
        }
    }
}