.v-application {
    .text-primary, .blue--text {
        color: #4a86e8 !important;
        caret-color: #4a86e8 !important;
    }

    .text-black {
        color: #000000 !important;
    }

    .relative {
        position: relative;
    }
}